body {
    margin: 0;
    padding: 0;

    background-color: black;
}

body, button, input {
    font-family: 'Helvetica', sans-serif;
}

.header {
    width: 100%;
    padding: 8px 0;
    border-bottom: 2px solid #32b9cd;
}


.container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

.mark {
    width: fit-content;
    color: #32b9cd;
    font-size: 28px;
    font-weight: 500;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E3B062;
}

.agora {
    font-weight: 700;
}

.banner {
    height: fit-content;
    padding: 40px 0;
    color: white;
    background-image: url('../assets/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
}

.banner .container {
    height: 520px;
    justify-content: center;
    align-items: center;
}

.banner .container .disclaimer {
    margin: 0;
    padding: 0;
    width: 360px;
    line-height: 1.2;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
    color: black;
    background-color: white;
}

.form {
    display: flex;
    border-radius: 4px;
    background-color: #e5e5e5;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 480px;
    height: 340px;
}

.form h1 {
    color: #db7093;
}

.form .field {
    display: flex;
    background-color: #e5e5e5;
    flex-direction: column;
}
.form .field span {
    color: #db7093;
    font-weight: 700;
    font-size: 18px;
    background-color: inherit;
}

.form .field input {
    text-align: center;
    border: 1px solid #32b9cd;
    padding: 10px 28px;
    border-radius: 8px;
}

.form button {
    background-color: #E6005A;
    border: none;
    border-radius:  4px;
    color: white;
    padding: 12px 26px;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #32b9cd;
    height: 160px;
    color: white;
}

.footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .container span {
    font-weight: 600;
}

.footer .container .version {
    font-size: 14px
}
